html {
    background-color: rgba(73, 105, 73, 0.672);
}

/* FONTS */

.main_font {
    font-family: 'Poppins', sans-serif; 
    font-weight: 700;
}

label {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
}

button {
    font-family: 'Poppins', sans-serif; 
    font-weight: 400;
}

.font_small {
    font-family: 'Poppins', sans-serif; 
    font-weight: 400;
}

/* MAIN CONTAINER */

.container {
    /* border: 5px solid red; */
    width: 80%;
    height: 700px;
    margin: 0 auto;
    margin-top: 70px;
    /* ... */
    display: flex;
    justify-content: center;
}


/* make media query where if the Item 2 div on the right
falls below a certain percent(?) of the page, get rid of the image
and bring the image back when Item 2's width returns to minimum */

/* make all the content stay centered inside the parent container */
.my_div {
}

img {
    border-radius: 10px 0px 0px 10px;
    min-width: 320px;
    max-width: 320px;
}

/* .div1 {
    width: 40%;
    overflow: auto;
    min-width: 285px;
    max-width: 385px;
    border-radius: 10px 0px 0px 10px;
} */

.div2 {
    position: relative;
    width: 60%;
    min-width: 445px;
    max-width: 620px;
    border-radius: 0px 10px 10px 0px;
    background-color: antiquewhite;
}

.bg_design {
    width: 100%;
    height: auto;
}

/* FORM PARAGRAPHS */

.form_info {
}

.forms {
    margin-left: 5%;
    margin-right: 15%;
}

.forms:first-child {
    margin-top: 80px;
}

.para2 {
    margin-bottom: 30px;
}

/* FORM CONTAINER/FIELDS */

.form_container {
    background-color: rgb(193, 221, 193);
    padding: 30px 0px;
    opacity: 50%;
}

.form-row {
    display: flex;
    margin: 7px 0px 0px 30px;
}

.field {
    display: flex;
    flex-direction: column;
    margin-right: 70px;
}

input {
    padding: 3px;
    /* box-shadow: 1px 1px 3px; */
}

/* FORM LOGIN BUTTON */

.button_container {
    padding: 30px 0px 0px 30px;
}

button {
    background-color: rgb(193, 221, 193);
    border: 0px;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.1s, font-style 0.1s;
}

button:hover {
    background-color: rgb(101, 146, 101);
    transition: background-color 0.1s, font-style 0.1s;
}

.hyperlink {
    color: rgb(42, 185, 42);
}

.git_link {
    margin-top: 50px;  
    opacity: 70%;
    position: absolute;
    bottom: 5px;
    font-size: 0.8rem;
}